.contact {
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(rgb(var(--dark-color)), rgba(var(--dark-color), 0.5));
    padding: 20px var(--padding);
    width: 100vw;
    z-index: 20;
}

.contact h1::after {
    color: rgb(var(--pink-color));
}